html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: DMserif;
  src: url(../lib/font/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 10%;
  background-color: black;
  font-family: "DMserif", "serif";
}

#app {
  font-family: "DMserif", "serif";
  padding: 5em;
}
#app section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#app section p {
  padding: 2em;
  width: 40%;
}
#app section div {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
  height: 20%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #app section p {
    width: 100%;
  }
}